<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/HTMLHead :: headTag('Change Password')">
  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Fan2Fan</title>

  <!-- Replace the relative path of resources if needed. -->
  <link href="../../static/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
  <link href="../../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="../../static/lib/jquery-steps/demo/css/jquery.steps.css" rel="stylesheet"/>
  <link href="../../static/lib/dropzone/downloads/css/dropzone.css" rel="stylesheet"/>
  <link href="../../static/css/account.css" rel="stylesheet"/>
  <link href="../../static/css/common.css" rel="stylesheet"/>
  <link href="../../static/css/package.css" rel="stylesheet"/>

  <script src="../../static/lib/jquery/jquery.min.js"></script>
  <script src="../../static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../static/lib/jquery-steps/build/jquery.steps.min.js"></script>
  <script src="../../static/lib/dropzone/downloads/dropzone.min.js"></script>

  <!-- Init Module -->
  <script src="../../static/js/init.js"></script>

  <!-- Load Module -->
  <script src="../../static/js/loader.js"></script>

</head>
<body>

<!-- Header of Page-->
<div id="header" class="navbar navbar-default navbar-static-top" role="navigation"
     th:replace="fragments/Header :: header">

</div>

<div class="account container" id="ChangePassword" data-page-name="">
  <div class="wrapper">
    <form class="form-forget-password" role="form" method="post" th:object="${changePwdCommand}" >
      <h2 class="form-signin-heading">Change Password</h2>
      <input type="password" class="form-control"
             th:field="*{oldPassword}"
             placeholder="old password" required=""/>
      <input type="password" class="form-control"
             th:field="*{newPassword}"
             placeholder="new password" required=""/>
      <input type="password" class="form-control bottom-input"
             th:field="*{repeatPassword}"
             placeholder="Confirm new password" required=""/>

      <ul class="signup_forms_errors">
        <li class="error" th:if="${message} != null" th:switch="${message}">
          <span th:case="'not_match'">Two passwords not match</span>
          <span th:case="'fail'">The old password is not correct</span>
          <span th:case="'success'">Successfully updated password</span>
        </li>
        <li class="error" th:if="${#fields.hasErrors('all')}">password length should be 6-30</li>
      </ul>

      <button class="btn btn-primary btn-block" type="submit">Save</button>

    </form>
  </div>
</div>

</body>
</html>