<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/HTMLHead :: headTag('Forgot Password ')">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="keywords" content="fan,football"/>
  <meta name="description" content="fan2fan"/>
  <title>Forgot Password | Fan2Fan</title>

  <!--<link rel="icon" type="image/x-icon" href=""/>-->

  <link href="../../static/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
  <link href="../../static/lib/bootstrap-3-datepicker/css/datepicker3.css" rel="stylesheet"/>
  <link href="../../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="../../static/lib/jquery-steps/demo/css/jquery.steps.css" rel="stylesheet"/>
  <link href="../../static/lib/dropzone/downloads/css/dropzone.css" rel="stylesheet"/>
  <link href="../../static/css/common.css" rel="stylesheet"/>
  <link href="../../static/css/nav.css" rel="stylesheet"/>
  <link href="../../static/css/package.css" rel="stylesheet"/>
  <link href="../../static/css/login-signup.css" rel="stylesheet"/>
  <link href="../../static/css/account.css" rel="stylesheet"/>

  <!-- Library Definition -->
  <script src="../../static/lib/jquery/jquery.min.js"></script>
  <script src="../../static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../static/lib/bootstrap-3-datepicker/js/bootstrap-datepicker.js"></script>
  <script src="../../static/lib/jquery-steps/build/jquery.steps.min.js"></script>
  <script src="../../static/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="../../static/lib/dropzone/downloads/dropzone.min.js"></script>

  <!-- Init Module -->
  <script src="../../static/js/init.js"></script>
  <!-- Module Definition -->
  <script src="../../static/js/pages/editPackage.js"></script>
  <script src="../../static/js/pages/package.js"></script>
  <script src="../../static/js/pages/forget.js"></script>

  <!-- Load Module -->
  <script src="../../static/js/loader.js"></script>
</head>

<body>
<div id="ForgetPassword" class="account container" data-page-name="">
  <div class="wrapper">
    <form class="form-forget-password" role="form" method="post">
      <h2 class="form-signin-heading">Fan2Fan</h2>
      <input type="text" class="form-control"
             name="email" placeholder="Email address"/>
      <div class="col-lg-7">
        <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
      </div>
      <div class="col-lg-5">
        <a class="btn btn-primary btn-block cancel" href="#"
           th:href="@{/account/login/}">Cancel</a>
      </div>
    </form>
  </div>
</div>
</body>
</html>
