<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Fan2Fan Header</title>

  <link href="../../static/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
  <link href="../../static/css/common.css" rel="stylesheet"/>
</head>
<body>

<div id="footer" th:fragment="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-center container">
      <p class="text-muted credit">© Fan2Fan Group 2014</p>
    </div>
  </nav>
</div>
</body>
</html>