<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Your Profile</title>

  <link href="../../static/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
  <link href="../../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="../../static/css/nav.css" rel="stylesheet"/>
  <link href="../../static/css/account.css" rel="stylesheet"/>

  <script src="../../static/lib/jquery/jquery.min.js"></script>
  <script src="../../static/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<body>

<div class="navbar navbar-default navbar-static-top" role="navigation"
     th:replace="fragments/Header :: header">
  <div class="nav-container">
    <div class="navbar-collapse collapse">
      <div class="navbar-brand">Fan2Fan</div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" th:if="${session.user != null}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
             th:href="@{/users/edit/}"
             th:text="${session.user.firstName}">Ruici Luo<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Your Trips</a></li>
            <li><a href="#">Invite Your Friends</a></li>
            <li><a href="#">Account Settings</a></li>
            <li class="nav-divider"></li>
            <li><a href="#">Log out</a></li>
            <li></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li th:if="${session.user != null}">
          <a href="#"><i class="fa fa-envelope-o"></i></a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            LANGUAGE <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">English</a></li>
            <li><a href="#">中文（简体）</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default account-settings">
    <div class="panel-heading">Dashboard : Ruici Luo</div>
    <div class="row panel-body">
      <div class="col-sm-3 settings-nav">
        <ul class="nav">
          <li><a href="#">Profile</a></li>
          <li><a href="#" class="selected">Notifications</a></li>
          <li><a href="#">Verification</a></li>
          <li><a href="#">Account Settings</a></li>
        </ul>
      </div>
      <div class="col-sm-9 settings-content">
        <p>fdkajfkjasdlfjaklf</p>
        <p>fdkajfkjasdlfjaklf</p>
        <p>fdkajfkjasdlfjaklf</p>
        <p>fdkajfkjasdlfjaklf</p>
        <p>fdkajfkjasdlfjaklf</p>
        <p>fdkajfkjasdlfjaklf</p>
        <p>fdkajfkjasdlfjaklf</p>
        <p>fdkajfkjasdlfjaklf</p>
        <p>fdkajfkjasdlfjaklf</p>
        <p>fdkajfkjasdlfjaklf</p>
        <p>fdkajfkjasdlfjaklf</p>
        <p>fdkajfkjasdlfjaklf</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>