div.account {
  height: 100%;
}

div.account div.wrapper {
  position: fixed;
  left: 0;
  top: 20%;
  width: 100%;
}

div.account form,
div#ForgetPasswordResult section {
  max-width: 260px;
  padding: 0px;
  margin: 0 auto;
}

div.account form .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

div.account form div.col-lg-7 {
  padding: 0 3px 0 0;
}

div.account form div.col-lg-5 {
  padding: 0 0 0 3px;
}

div.account form button {
  margin: 10px 0;
  padding: 0 16px;
  border-radius: 2px;
  box-sizing: border-box;
  border: 0;
  line-height: 44px;
  font-size: 16px;
}

div.account form a.cancel {
  font-size: 16px;
  margin: 10px 0;
  padding: 0 16px;
  border: 0;
  border-radius: 2px;
  background: rgba(0,0,0,.33);
  box-sizing: border-box;
  line-height: 44px;
}

div.account form label.error {
  color: red;margin-top: 10px;
  padding: 5px;
}

div#ForgetPasswordResult .jumbotron {
  padding: 15px;
  max-height: 300px;
  margin-top: 10px;
  border-radius: 2px;
}

div#ForgetPasswordResult .jumbotron p {
  padding: 7px 20px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

div.account form input {
  box-shadow: none;
}

div.account form input[disabled] {
  color: #222;
  opacity: .6;
  background: 0;
}

div.account input {
  border-radius: 0;
  box-shadow: none;
}

div.account .bottom-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top: none;
}

div.account .middle-input {
  border-top: none;
}

div.account .top-input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div#ResetPassword .top-input {
  border-bottom: none;
}

.form-invite-user {
  max-width: 260px;
  padding: 0px;
  margin: 0 auto;
}

.form-invite-user .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-invite-user button {
  margin: 10px 0;
  padding: 0 16px;
  border-radius: 2px;
  box-sizing: border-box;
  border: 0;
  line-height: 44px;
  font-size: 16px;
  width: 100%;
}

nav.navbar-fixed-bottom {
  background: transparent;
  border: 0;
}

nav.navbar-fixed-bottom a {
  display: inline-block;
  height: 45px;
  padding: 0 10px;
  margin: 0 0 28px 15px;
  font-size: 16px;
  font-weight: bold;
  line-height: 45px;
  border: 0;
  border-radius: 2px;
  color: #ffffff;
  box-sizing: border-box;
}

a.forget-password-link {
  position: absolute;
  top: 13px;
  right: 7px;
  width: 20px;
}

div.form-row-password {
  position: relative;
  border: 0;
}

div.account .signup_forms_errors {
  margin: 15px 0 0 0;
  max-height: 300px;
  opacity: 1;
  border-radius: 2px;
  list-style: none;
  padding: 0;
}

div.account .signup_forms_errors .error {
  text-align: center;
  padding: 14px 15px;
  font-size: 14px;
  font-family: Helvetica,sans-serif;
  line-height: 16px;
  color: #fff;
  background: #000;
  background: rgba(0,0,0,0.33);
  margin-bottom: 1px;
}

.form-user-profile {
  width: 600px;
  margin: auto;
  margin-bottom: 50px;
}

.form-user-profile .form-group {
  margin-top: 5px;
}

.form-user-profile .control-label {
  padding: 0;
  margin: 0;
  line-height: 34px;
  text-align: right;
  font-size: 16px;
  padding-right: 20px;
}

#fileupload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.avatar-preview {
    width: 100%;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    opacity: 0.8;
}
