.home-page-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.home-page-wrap .background-image {
    width: 100%;
}

.home-page-wrap .entry-wrap {
    position: fixed;
    top: 46%;
    left: 0;
    width: 100%;
    text-align: center;
}

.home-page-wrap .entry-wrap .slogan {
    font-size: 490%;
    font-family: museo_sans,arial,sans-serif;
    letter-spacing: 4px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1%;
    text-shadow: 0 0 20px rgba(0,0,0,.4);
    padding: 10px;
}

.home-page-wrap .entry-wrap .entry-btn {
    display: inline-block;
    padding: 5px 50px;
    background-color: #1fbad6;
    position: relative;
    z-index: 2;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
