#Package h1 {
    margin-bottom: 40px;
}

.item-wrap {
    margin-bottom: 10px;
}

.trip {
    margin-bottom: 20px;
}

.items {
    padding: 0;
}

.item-remove {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
}

.upload-photos-btn {
    position: relative;
}

.upload-photos-btn .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 0;
    background-color: #000;
    opacity: 0.4;
}

.trip-photo {
    width: 100%;
    margin-bottom: 40px;
}
div.circle-list {
  padding: 20px;
  border: 1px solid #919295;
  color: #919295;
  border-radius: 10px;
}

div.circle-list ul li {
  margin-left: 10px;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
}

div.circle-list ul li:first-child {
  border-top: none;
}

.inline {
  display: inline-block;
}

div.packages input,
div.packages textarea {
  width: 350px;
}

div.wizard > .content {
  overflow-y: scroll;
}

div.dropzone {
  min-height: 150px;
}

div#package-trips div.rows {
  padding: 5px 10px;
}

div#videoPlayer {
  width: 480px;
  height: 400px;
  margin-bottom: 40px;
}

.wizard > .steps > ul > li {
  width: 20%;
}
